<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.bootstrap5.min.css">

    <link rel="stylesheet" type="text/css" href="/dialog/public/admin.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"
        integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <style>
        
    </style>
</head>

<body>
    <% let nrOfPages = Math.ceil(admindata.pagination.total / admindata.pagination.size) %>
    <% var url = new URL(admindata.url) %>
    <% if (url.searchParams.has('size') !== true) { %>
        <% url.searchParams.set('size', admindata.pagination.size) %>
    <% } %>
    <% if (url.searchParams.has('page') !== true) { %>
        <% url.searchParams.set('page', admindata.pagination.page) %>
    <% } %>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
            <a class="navbar-brand" href="#">
                <img alt="" src="https://apps.lib.kth.se/polopoly/KTH_Logotyp.svg" width="75" height="75"
                    class="d-inline-block align-top"> KTH Bibliotekets Dialog System
            </a>
            <button aria-controls="basic-navbar-nav" type="button" aria-label="Toggle navigation"
                class="navbar-toggler collapsed"><span class="navbar-toggler-icon"></span></button>
            <div class="navbar-collapse collapse" id="basic-navbar-nav">
                <div class="navbar-nav">
                    <div class="nav-item">
                        <div style="flex:1;font-size:1.25rem">Events</div>
                    </div>
                </div>
            </div>
            <div id="gradientBorder"></div>
            <ul class="pagination">
                <% let page %>
                <% let active %>
                <% page = parseInt(admindata.pagination.page) - 1 %>
                <% url.searchParams.set('page', page); %>
                <li class="page-item <%- admindata.pagination.page > 1 ? "" : "disabled"%>">
                  <a class="page-link" href="<%= url %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <% for(i=1; i<nrOfPages +1; i++) { %>
                    <% url.searchParams.set('page', i); %>
                <li class="page-item <%- admindata.pagination.page == i ? "active" : "" %>"><a class="page-link" href="<%= url %>"><%= i %></a></li>
                <% } %>
                <% page = parseInt(admindata.pagination.page) + 1 %>
                <% url.searchParams.set('page', page); %>
                <li class="page-item <%- admindata.pagination.page < nrOfPages ? "" : "disabled" %>">
                  <a class="page-link" href="<%= url %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
            </ul>
        </nav>
        <div id="content">
            <div style="flex:3;padding-right:10px">
                <% let published=false %>
                <% let published_as_image=false %>
                <%let eventtime=""%>
                <%let frameindex=1%>

                <%for (const event_ of admindata.events) { %>
                    <%eventtime=event_.startdate%>
                    <div class="card" style="margin-bottom:10px">
                        <div class="card-body">
                            <h5 class="card-title"><%=event_.name%></h5>
                                <div style="flex:3;display:flex;flex-direction:column">
                                    <div style="flex:1;display:flex;flex-direction:column">
                                        <div class="wrapchoice">
                                            <iframe id="frame_<%=frameindex%>" class="frame"
                                                src="/dialog/choice/<%=event_.id%>"></iframe>
                                        </div>
                                    </div>
                                    <div style="flex:1;display:flex;flex-direction:column">
                                        <div class="wrapresults">
                                            <iframe id="frame_<%=frameindex%>" class="frameresults"
                                                src="/dialog/results/<%=event_.id%>?display=libtv"></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div style="flex:2">
                                    <form>
                                        <div class="card" style="margin-bottom:10px">
                                            <div class="card-body">
                                                <h5 class="card-title">Actions</h5>
                                                <div style="padding-bottom: 10px">
                                                    <button id="actionModalButton" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                        data-bs-target="#actionModal" data-id="<%=event_.id%>">
                                                        Lägg till action
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card" style="margin-bottom:10px">
                                            <div class="card-body">
                                                <h5 class="card-title">Actions</h5>
                                                <div style="padding-bottom: 10px">
                                                    <button type="button" onclick="getActions('<%=event_.id%>')" class="btn btn-primary" data-bs-toggle="modal"
                                                        data-bs-target="#actionsModal">
                                                        Hantera actions
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <label for="QRGeneralUrl" class="visually-hidden">Url</label>
                                            <input type="text" placeholder="Skriv in URL" class="form-control" name="QRGeneralUrl" id="QRGeneralUrl">
                                        </div>
                                        <div class="col-sm">
                                            <button class="btn btn-primary px-4" type="button" onclick="createQrCodeGeneral()">
                                                Lägg till
                                            </button>
                                        </div>
                                        <div style="padding-top:10px">
                                            Fält som ska visas
                                        </div>
                                        <div style="padding-top:10px">
                                            Bild från bildbank
                                        </div>
                                        <select class="form-select" onChange="updateEventImage('<%=event_.id%>', 'frame_<%=frameindex%>', this)" id="imagebankselect<%=event_.id%>" title="Välj bild" class="selectpicker">
                                            <option value="0">Välj...</option>
                                            <% let selectedimage='' %>
                                            <% imagebank.forEach(image => {%>
                                                <% if (eventimage[0]) {%>
                                                    <% if (eventimage[0].id == image.id) {%>
                                                        <% selectedimage = 'selected'%>
                                                    <% } else {%>
                                                        <% selectedimage = ''%>
                                                    <% }%>
                                                <% } %>
                                                <option <%=selectedimage%> value="<%=image.id%>"><%=image.name%></option>
                                            <%})%>
                                        </select>
                                    </form>
                                </div>
                        </div>
                    </div>
                <% frameindex++ %>
            <%} %>
            </div>
            <div style="flex:1">
                <div class="card" style="margin-bottom:10px">
                    <div class="card-body">
                        <h5 class="card-title">Bildbank</h5>
                        <div style="padding-bottom: 10px">
                            <button type="button" onclick="getImages()" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Hantera bilder
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom:10px">
                    <div class="card-body">
                        <h5 class="card-title">Events</h5>
                        <div style="padding-bottom: 10px">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#eventModal">
                                Hantera events
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Bildbank</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="imagebankmodal-body modal-body">
    
                        </div>
                        <div class="modal-footer">
                            <div style="flex:2;display:flex;flex-direction:column">
                                <div id="uploadAlertPlaceholder"></div>
                                <label for="imgFile">Uppdatera bildbank</label>
                                <input style="display:none" type="text" placeholder="Ge bilden ett namn"
                                    class="form-control" name="imgFileName" id="imgFileName">
                                <div style="display:flex">
                                    <input onChange="showElement('imgFileName')" type="file" class="form-control"
                                        name="imgFile" id="imgFile">
                                    <button style="width:50%" class="browse btn btn-primary px-4" type="button"
                                        onclick="uploadImage()">
                                        Ladda upp
                                    </button>
                                </div>
                                <div style="visibility:hidden;margin-right:10px" id="uploadprogress" class="progress">
                                    <div id="uploadprogress-bar" class="progress-bar" role="progressbar" aria-valuenow="0"
                                        aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                        <span class="sr-only">0% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="actionsModal" tabindex="-1" aria-labelledby="actionsModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="actionsModalLabel">Actions</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="actionsmodal-body modal-body">
    
                        </div>
                        <div class="modal-footer">
                            <div style="flex:2;display:flex;flex-direction:column">
                                <div id="uploadAlertPlaceholder"></div>
                                <label for="imgFile">Uppdatera bildbank</label>
                                <input style="display:none" type="text" placeholder="Ge bilden ett namn"
                                    class="form-control" name="imgFileName" id="imgFileName">
                                <div style="display:flex">
                                    <input onChange="showElement('imgFileName')" type="file" class="form-control"
                                        name="imgFile" id="imgFile">
                                    <button style="width:50%" class="browse btn btn-primary px-4" type="button"
                                        onclick="uploadImage()">
                                        Ladda upp
                                    </button>
                                </div>
                                <div style="visibility:hidden;margin-right:10px" id="uploadprogress" class="progress">
                                    <div id="uploadprogress-bar" class="progress-bar" role="progressbar" aria-valuenow="0"
                                        aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                        <span class="sr-only">0% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eventModalLabel">Nytt event</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <div style="flex:2;display:flex;flex-direction:column">
                            <div id="createEventPlaceholder"></div>
                            <label for="eventName">Namn</label>
                            <input type="text" placeholder="Namn" class="form-control" name="eventName" id="eventName">

                            <label for="eventName_en">Namn engelska</label>
                            <input type="text" placeholder="Namn engelska" class="form-control" name="eventName_en" id="eventName_en">

                            <label for="eventDescription">Beskrivning</label>
                            <input type="textarea" placeholder="Beskrivning" class="form-control" name="eventDescription" id="eventDescription">

                            <label for="eventDescription_en">Beskrivning engelska</label>
                            <input type="textarea" placeholder="Beskrivning engelska" class="form-control" name="eventDescription_en" id="eventDescription_en">

                            <label for="eventStartDate">Startdatum</label>
                            <input type="text" placeholder="Startdate" class="form-control" name="eventStartDate" id="eventStartDate">

                            <label for="eventEndDate">Slutdatum</label>
                            <input type="text" placeholder="Enddate" class="form-control" name="eventEndDate" id="eventEndDate">
                            <br>
                            <div style="display:flex">
                                <button style="width:50%" class="browse btn btn-primary px-4" type="button"
                                    onclick="createDialogEvent()">
                                    Spara
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="actionModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="actionModalLabel">Ny action</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <div style="flex:2;display:flex;flex-direction:column">
                            <div id="createActionPlaceholder"></div>
                            <input type="hidden"name="event_id" id="event_id">
                            <label for="actiondescription_sv">Beskrivning</label>
                            <input type="textarea" placeholder="Beskrivning" class="form-control" name="actiondescription_sv" id="actiondescription_sv">

                            <label for="actiondescription_en">Beskrivning engelska</label>
                            <input type="text" placeholder="Beskrivning" class="form-control" name="actiondescription_en" id="actiondescription_en">

                            <label for="actionimage">Bild</label>
                            <input type="text" placeholder="Bild" class="form-control" name="actionimage" id="actionimage">

                            <label for="actionrgbacolor">Färg i reslutat-cirkel</label>
                            <input type="text" placeholder="Färg i reslutat-cirkel" class="form-control" name="actionrgbacolor" id="actionrgbacolor">
                            <br>
                            <div style="display:flex">
                                <button style="width:50%" class="browse btn btn-primary px-4" type="button"
                                    onclick="createDialogAction(actionModal)">
                                    Spara
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>

            $(document).ready(function(){
                //Skicka med ID till öppnade modals
                $('#actionModal').on('shown.bs.modal', function(event) {
                    var reference_tag = $(event.relatedTarget); 
                    var id = reference_tag.data('id')
                    $('#actionModal #event_id').val(id)
                })
            });

            function alert(message, type, placeholder) {
                var alertPlaceholder = document.getElementById(placeholder)
                var wrapper = document.createElement('div')
                var html = `<div class="alert alert-${type} alert-dismissible" role="alert">${message}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>`
                wrapper.innerHTML = html;
                alertPlaceholder.append(wrapper)
                /*
                setTimeout(function () {
                    $(".alert").fadeTo(500, 0).slideUp(500, function(){
                        $(this).remove(); 
                    });
                }, 2000);
                */
            }

            function checkjwt() {
            
            }


            function updateLang(events_id, lang, frameid) {
                checkjwt()
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (xhttp.status == 401) {
                    }
                    setTimeout(function () {
                        document.getElementById(frameid).src = document.getElementById(frameid).src
                    }, 500);
                };
                xhttp.open("PUT", "/dialog/api/v1/calendar/eventlang/" + events_id, true);
                xhttp.setRequestHeader('Content-Type', 'application/json');
                xhttp.send(JSON.stringify({
                    "lang": lang
                }));
            }

            function createDialogEvent() {
                //checkjwt()
                
                var formData = new FormData();
                formData.append("name", document.getElementById('eventName').value);
                formData.append("name_en", document.getElementById('eventName_en').value);
                formData.append("description", document.getElementById('eventDescription').value);
                formData.append("description_en", document.getElementById('eventDescription_en').value);
                formData.append("startdate", document.getElementById('eventStartDate').value);
                formData.append("enddate", document.getElementById('eventEndDate').value);
                console.log(formData)

                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (xhttp.status == 401) { 
                    }

                    if (xhttp.status == 400) {
                        alert('Fel! ' + xhttp.response, 'danger', 'createEventPlaceholder')
                    }
                    
                    if (xhttp.status == 200) {
                        alert('Event skapat', 'success', 'createEventPlaceholder')
                        document.getElementById('eventName').value = ''
                        document.getElementById('eventName_en').value = ''
                        document.getElementById('eventDescription').value = ''
                        document.getElementById('eventDescription_en').value = ''
                        document.getElementById('eventStartDate').value = ''
                        document.getElementById('eventEndDate').value = ''
                    }
                };
                xhttp.open("POST", "/dialog/api/v1/event", true);
                xhttp.send(formData);
            }

            function createDialogAction(elementid) {
                //checkjwt()

                var formData = new FormData();
                formData.append("event_id", document.getElementById('event_id').value);
                formData.append("actiondescription_sv", document.getElementById('actiondescription_sv').value);
                formData.append("actiondescription_en", document.getElementById('actiondescription_en').value);
                formData.append("actionimage", document.getElementById('actionimage').value);
                formData.append("actionrgbacolor", document.getElementById('actionrgbacolor').value);

                console.log(formData)
                
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (xhttp.status == 401) { 
                    }

                    if (xhttp.status == 400) {
                        alert('Fel! ' + xhttp.response, 'danger', 'createActionPlaceholder')
                    }
                    
                    if (xhttp.status == 200) {
                        alert('Event skapat', 'success', 'createActionPlaceholder')
                        document.getElementById('event_id').value = ''
                        document.getElementById('actiondescription_sv').value = ''
                        document.getElementById('actiondescription_en').value = ''
                        document.getElementById('eventStartDate').value = ''
                        document.getElementById('actionimage').value = ''
                        document.getElementById('actionrgbacolor').value = ''
                    }
                };
                xhttp.open("POST", "/dialog/api/v1/event/action", true);
                xhttp.send(formData);
                
                
            }

            function updateEvent(id, name, description, startdate, enddate) {
                //checkjwt()
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (xhttp.status == 401) { 
                    }
                    setTimeout(function () {
                        document.getElementById(frameid).src = document.getElementById(frameid).src
                    }, 500);
                };
                xhttp.open("PUT", "/dialog/api/v1/event", true);
                xhttp.setRequestHeader('Content-Type', 'application/json');
                xhttp.send(JSON.stringify({
                    "id": id,
                    "name": name,
                    "description": description,
                    "startdate": startdate,
                    "enddate": enddate,
                }));
            }

            function getQrCode(id, imageid, button) {
                checkjwt()
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (xhttp.status == 401) {
                    }
                    var image = xhttp.response;
                    document.getElementById(imageid).innerHTML = '<img style="width:200px;height:200px" src="' + image + '">'

                };
                xhttp.open("GET", "/dialog/api/v1/calendar/event/qrcode/" + id, true);
                xhttp.setRequestHeader('x-access-token', sessionStorage.getItem("token"));
                xhttp.setRequestHeader('Content-Type', 'application/json');
                xhttp.send();
            }

            function getQrCodeGeneral(id, imageid, button) {
                $(button).prop("disabled", true);
                $(button).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Hämtar QR Kod...');
                checkjwt()
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (xhttp.status == 401) {
                    }
                    var blob = xhttp.response;
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = "qrcode.png";
                    link.click();
                    $(button).prop("disabled", false);
                    $(button).html('Hämta QR Kod');


                };
                xhttp.open("GET", "/dialog/api/v1/qrcode/general/generate/" + id, true);
                xhttp.responseType = "blob";
                xhttp.setRequestHeader('Content-Type', 'image/png');
                xhttp.send();
            }

            function getPdf(id, cb, type) {
                $(cb).prop("disabled", true);
                $(cb).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Skapar pdf...');

                checkjwt()
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (xhttp.status == 401) {
                    }
                    var blob = xhttp.response;
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = "smartsign_" + id + ".pdf";
                    link.click();
                    $(cb).prop("disabled", false);
                    $(cb).html('Ladda ner PDF ' + type);


                };
                xhttp.open("GET", "/dialog/api/v1/calendar/pdf/" + id + "?type=" + type, true);
                xhttp.responseType = "blob";
                xhttp.setRequestHeader('Content-Type', 'application/json');
                xhttp.send();
            }

            function logout() {
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (xhttp.status == 401) {  
                    }
                    location.href = "/dialog"
                };
                xhttp.open("POST", "/dialog/logout", true);
                xhttp.setRequestHeader('Content-Type', 'application/json');
                xhttp.send();
            }

            function makeProgress(data) {
                jsondata = JSON.parse(data)
                if (jsondata.progress == 0) {
                    $("#pubprogress").css('visibility', 'visible')
                }
                if (jsondata.progress <= jsondata.total) {
                    percent = (jsondata.progress / jsondata.total) * 100
                    $("#pubprogress-bar").css("width", percent + "%").text(percent + "%");
                }
                if (jsondata.progress == jsondata.total) {
                    $("#pubprogress").css('visibility', 'hidden')
                    $("#pubprogress-bar").css("width", "0%").text("0%");
                }
            }

            $('#publishbtn').on('click', function () {
                var parameters = "?"
                if ($('#pubhtml').prop('checked')) {
                    parameters += "type=html"
                } else
                    if ($('#pubimages').prop('checked')) {
                        parameters += "type=images"
                    }
                if ($('#pubimages').prop('checked') && $('#pubhtml').prop('checked')) {
                    parameters = "?type=all"
                }
                $(this).prop("disabled", true);
                $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Publicerar...');
                checkjwt()
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (xhttp.status == 401) {
                    }
                    alert('Slideshow skapad', 'success', 'slideAlertPlaceholder')
                    $('#publishbtn').prop("disabled", false);
                    $('#publishbtn').html('Publicera valda');
                    document.getElementById('slideshow').src = document.getElementById('slideshow').src
                };
                xhttp.open("POST", "/dialog/api/v1/calendar/published/slideshow" + parameters);
                xhttp.setRequestHeader('Content-Type', 'application/json');
                xhttp.send(JSON.stringify({ "sessionId": thisSessionId }));
            });

            const thisSessionId = Math.random().toString(36).substr(2, 9);
            const socket = io('', { path: "/dialog/socket.io" })
            socket.on("connect", () => {

            });
            socket.emit('connectInit', thisSessionId);
            socket.on("uploadProgress", (data) => {
                makeProgress(data)
            })

            function uploadImage() {
                if (document.getElementById('imgFileName').value == "") {
                    document.getElementById('imgFileName').focus()
                    document.getElementById('imgFileName').style.color = "red";
                } else {
                    $("#uploadprogress").css('visibility', 'visible')
                    checkjwt()
                    var formData = new FormData();
                    imgFile = document.getElementById('imgFile').files[0]
                    formData.append("imgFile", imgFile);
                    formData.append("imagename", document.getElementById('imgFileName').value);
                    var xhttp = new XMLHttpRequest();

                    xhttp.upload.addEventListener("progress", function (e) {
                        var loaded = e.loaded;
                        var total = e.total
                        var percent_complete = (loaded / total) * 100;
                        if (percent_complete <= 100) {

                            $("#uploadprogress-bar").css("width", percent_complete + "%").text(percent_complete + "%");
                        }
                        if (percent_complete == 100) {
                            alert('Bild uppladdad', 'success', 'uploadAlertPlaceholder')
                            $("#uploadprogress").css('visibility', 'hidden')
                            document.getElementById('imgFile').value = ''
                            document.getElementById('imgFileName').style.display = "none";
                            getImages()
                            setTimeout(function () {

                            }, 3000);
                        }
                    })

                    xhttp.onload = function () {
                        if (xhttp.status == 401) {
                        }
                    };
                    xhttp.open("POST", "/dialog/api/v1/calendar/uploadfile", true);
                    xhttp.send(formData);
                }
            }

            function getActions(event_id) {
                $('.actionsmodal-body').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Hämtar...');
                
                checkjwt()
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (xhttp.status == 401) {
                        $('.actionsmodal-body').html('Fel vid hämtning')
                    }
                    $('.actionsmodal-body').html(xhttp.response)
                };
                xhttp.open("GET", "/dialog/api/v1/event/actions/" + event_id, true);
                xhttp.send();
            }

            function updateAction(action_id, event_id) {
                //checkjwt()
                var formData = new FormData();
                selector1 = `description_sv${action_id}`
                formData.append("actiondescription_sv", document.getElementById(selector1).value);
                selector2 = `description_en${action_id}`
                formData.append("actiondescription_en", document.getElementById(selector2).value);
                selector3 = `image${action_id}`
                formData.append("actionimage", document.getElementById(selector3).value);
                selector4 = `rgbacolor${action_id}`
                formData.append("actionrgbacolor", document.getElementById(selector4).value);

                console.log(formData)

                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    console.log(xhttp.status)
                    if (xhttp.status == 401) {
                    }
                    if (xhttp.status == 400) {
                        alert(`Fel! ${xhttp.response}`, 'danger', 'updateActionPlaceholder')
                    }
                    if (xhttp.status == 200) {
                        alert('Event uppdaterat', 'success', 'updateActionPlaceholder')
                        getActions(event_id)
                    }
                };
                xhttp.open("PUT", "/dialog/api/v1/event/action/" + action_id, true);
                xhttp.send(formData);
            }

            function updateImage(id, nameselector) {
                checkjwt()
                let name = $("#" + nameselector).val()
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (xhttp.status == 401) {
                    }
                    getImages()
                };
                xhttp.open("PUT", "/dialog/api/v1/calendar/images/" + id, true);
                xhttp.setRequestHeader('Content-Type', 'application/json');
                xhttp.send(JSON.stringify({
                    "name": name
                }));
            }

            function deleteImage(id) {
                checkjwt()
                var xhttp = new XMLHttpRequest();
                xhttp.onload = function () {
                    if (xhttp.status == 401) {
                    }
                    getImages()
                };
                xhttp.open("DELETE", "/dialog/api/v1/calendar/images/" + id, true);
                xhttp.send();
            }
            
            function copytext(field_id) {
                var copyText = document.getElementById(field_id);
                text = $(copyText).val()
                navigator.clipboard.writeText(text);
            }

            function showElement(imgFileName) {
                $('#' + imgFileName).show()
            }

            function updateEventImage(events_id, frameid, selectlist) {
                checkjwt()
                var x = document.getElementById("imagebankselect");
                images_id = selectlist.value
                var xhttp = new XMLHttpRequest();
                if (images_id != "0") {
                    xhttp.onload = function () {
                        if (xhttp.status == 401) {
                        }
                        setTimeout(function () {
                            document.getElementById(frameid).src = document.getElementById(frameid).src
                        }, 500);
                    };
                    xhttp.open("POST", "/dialog/api/v1/calendar/event/image", true);
                    xhttp.setRequestHeader('Content-Type', 'application/json');
                    xhttp.send(JSON.stringify({
                        "events_id": events_id,
                        "images_id": images_id
                    }));
                } else {
                    xhttp.onload = function () {
                        if (xhttp.status == 401) {
                        }
                        document.getElementById(frameid).src = document.getElementById(frameid).src
                    };
                    xhttp.open("DELETE", "/dialog/api/v1/calendar/event/image", true);
                    xhttp.setRequestHeader('Content-Type', 'application/json');
                    xhttp.send(JSON.stringify({
                        "events_id": events_id,
                        "images_id": images_id
                    }));
                }
            }
        </script>
    </div>
</body>

</html>