<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
    </style>
</head>

<body>
    <table cellspacing="0" cellpadding="0" border="0" width="100%" style="">
        <tr>
            <td>
                <p>
                    Användare: {{email}}
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Jag är:
                </p>
                <p>
                    {{usertype}}
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Min skola:
                </p>
                <p>
                    {{schoolname}}
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Vald kategori:
                </p>
                <p>
                    {{action}}
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Vill ha stöd:
                </p>
                {{#each sessionchoices}}
                <p>
                    {{ name }}
                </p>
                <p>
                    {{ message }}
                </p>
                {{/each}}
            </td>
        </tr>
    </table>
</body>

</html>